<section id="home">
  <div class="container-fluid px-4 h-100">
    <div class="content h-100">
      <div class="row h-100">
        <div class="col col-12 h-100 col-md-6">
          <div class="justify-content-center d-flex flex-column h-100">
            <div class="display-3 fw-semibold">Cita Rasa Makanan Terbaik</div>
            <div class="text-white my-3 lead fs-4">
              Datang ke warung kami dan rasakan kelezatan makanan rumah yang
              autentik. Kami tunggu kehadiran Anda!
            </div>
            <button
              style="width: fit-content;"
              class="btn fs-3 btn-primary fw-semibold text-white"
              >Reservasi sekarang</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  section {
    height: 100vh;
    min-height: 480px;
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.162),
        var(--background) 70%
      ),
      url("../../assets/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
