// // // Define the colors directly in SCSS
$primary-color: #4aac01;
$secondary-color: #84c24e;
$background-color: #010a33;
$background-secondary-color: #0e1215;
$text-color: #ebffeb;
$text-secondary-color: #7a7a7a;

// // // Map SCSS variables to Bootstrap variables
$primary: $primary-color;
$secondary: $secondary-color;
$btn-primary-color: #ffffff; // Ensure text color is white
$btn-primary-bg: $primary-color; // Background color for primary button

$body-bg: $background-color;
$body-color: $text-color;

@import "../node_modules/bootstrap/scss/bootstrap";

// Optional: Define CSS variables for runtime usage
:root {
  --background: #{$background-color};
  --background-secondary: #{$background-secondary-color};
  --primary: #{$primary-color};
  --secondary: #{$secondary-color};
  --text: #{$text-color};
  --text-secondary: #{$text-secondary-color};
}
* {
  font-family: "Times New Roman", Times, serif;
}
.text-secondary-gray {
  color: $text-secondary-color;
}
